@charset "utf-8";

// px2style
@import '../../../node_modules/px2style/dist/themes/darkmode.css';

.broccoli {
	pre {
		> code {
			background-color: #333;
			border: 1px solid #222;
			color: #f9f7f5;
		}
	}

	// Fields
	@import '../../../fields/client/app.fields.color_files/field_color';
	@import '../../../fields/client/app.fields.image_files/field_image';


	// CodeMirror 拡張
	.CodeMirror {
		border: 1px solid #222;
	}
}

// mixin: appender
@mixin broccoli--appender-darkmode(){
	color: #3871E0;
	background-color: #222e3a;
}


// Canvas
@import "../styles/canvas-darkmode";


// Instance Path View
@import "../styles/instancePathView-darkmode";


// Instance Tree View
@import "../styles/instanceTreeView-darkmode";


// Panels
@import "../styles/panel-darkmode";


// edit window
@import "../styles/editWindow-darkmode";


// find window
@import "../styles/findWindow-darkmode";


// lightbox
@import "../styles/lightbox-darkmode";


// progress
@import "../styles/progress-darkmode";


// Module Info, and Readme
@import "../styles/moduleInfo-darkmode";


// Module Palette
@import "../styles/modulePalette-darkmode";


// Context Menu
@import "../styles/contextMenu-darkmode";


// Indicator
@import "../styles/indicator-darkmode";


// insert window
@import "../styles/insertWindow-darkmode";
