@charset "utf-8";

.instanceTreeView{
	display:block;
	position:relative;
	float: left;
	width: 30%;
	height: 200px;
}
.canvas{
	display:block;
	position:relative;
	float: left;
	width: 50%;
	height: 200px;
	z-index: 90;
}
.palette{
	display:block;
	position:relative;
	float: right;
	width: 20%;
	height: 200px;
	z-index: 100;
}
.instancePathView{
	display:block;
	float: none;
	clear:both;
	width: auto;
	height: auto;
}
.test_funcs{
}
.test_funcs ul{
	margin: 0;
	padding: 0;
}
.test_funcs ul li{
	margin: 0;
	padding: 0;
	list-style-type:none;
	display: inline-block;
	font-size: 11px;
}
.test_funcs ul li a:before{
	content: "> ";
}
