@charset "utf-8";
.broccoli{
	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	user-select: none; // CSS3
	-moz-user-select: none; // Firefox
	-webkit-user-select: none; // Safari、Chromeなど
	-ms-user-select: none; // IE10かららしい
	cursor: default;

	// 選択可能領域
	&__user-selectable{
		user-select: auto; // CSS3
		-moz-user-select: auto; // Firefox
		-webkit-user-select: auto; // Safari、Chromeなど
		-ms-user-select: auto; // IE10かららしい
	}

	[draggable=true]{
		cursor: move;
	}
	[draggable=false]{
		cursor: default;
	}
}

// mixin: appender
@mixin broccoli--appender(){
	padding:9px;
	background-color: #eef;
	border-color: #8585d2;
	font-family: "YuGothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
	font-size: 11px;
	color:#000;
	text-align:center;
	box-sizing:border-box;
	clear:both;
	white-space:nowrap;
}

// Canvas
.broccoli--canvas{
	display: block;
	position: relative;
	top: 0; left: 0;
	overflow: auto;

	iframe{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 10px;
		border: none;
	}

	.broccoli--panels{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 0;
		border: none;
	}

}

// Instance Path View
.broccoli--instance-path-view{
	// position: fixed;
	// bottom: 0; left:0;
	// z-index: 10;

	font-size: 11px;

	&-inner{
		width: 100%;
		padding: 3px 10px;
		border-top: 1px solid #000;
		background: #f7f7f7;

		>ul{
			display: block;
			padding: 0;
			margin: 0;

			>li{
				margin: 0; padding: 0;
				list-style-type: none;
				display: inline;
				position: relative;

				&:before{
					content: ' > ';
				}

				ul.broccoli--instance-path-view-children{
					display: none;
					background: #fff;
					border: 1px solid #000;
					padding: 0;
					z-index: 1000;

					li{
						display: block;
						list-style-type: none;
						margin: 0;

						a{
							display:block;
							font-size:120%;
							white-space: nowrap;
							padding: 3px 10px;

							&:hover{
								background-color: #f2f2f2;
							}
						}
					}
				}

				&:last-child:hover ul.broccoli--instance-path-view-children{
					display: inline-block;
					position: absolute;
					left: 100%;
					bottom: 0;
				}

			}
		}
	}

}

// Instance Tree View
.broccoli--instance-tree-view{
	overflow: auto;

	ul{
		margin:0; padding:0 0 0 5px;
		display: table;
		width: 100%;
	}
	li{
		list-style:none;
		display: table;
		width: 100%;
		font-size: small;
	}

	&-fields{
		border:1px dotted #ddd;
		background-color: #f5f5f5;
	}
	&-bowlname{
		font-weight: bold;
		margin: 1em 0 0.5em 0;
		display: block;
	}
	&-modulename{
		font-weight: bold;
	}
	&-fieldname{
		font-weight: normal;
		font-size: 85%;
	}

	[data-broccoli-instance-path]{
		display: table;
		width: 100%;
		border:2px solid #666;
		border-bottom-width: 0px;
		background-color: #f9f9f9;
		padding: 1px 1px 1px 5px;
		margin: 0;
		position: relative;
		left:0; top:0;

		&.broccoli--panel__hovered{
			border-style: dotted !important;
			border-color: #6cf;
			background-color: rgba(231,244,255, 0.5);
			&[data-broccoli-sub-mod-name]{
				border-color: #3c3;
				background-color: rgba(232,255,231, 0.5);
			}
			>.broccoli--instance-tree-view-fields{
				// border:1px dotted #eee !important;
				background-color: #f9f9f9 !important;
			}
		}
		&.broccoli--panel__selected{
			background-color: #fff2f2;
			border-color: #f33;
		}

		&:nth-child(2){
			border-radius: 5px 5px 0 0;
			border-bottom-width: 0px;
		}
		&:last-child{
			border-bottom-width: 2px;
			border-radius: 0 0 5px 5px;
		}
		&:first-child:last-child{
			border-radius: 5px;
			border-width: 2px;
		}

		&[data-broccoli-is-appender]{
			// moduleフィールド の appender
			@include broccoli--appender();
			font-size: 11px;
			box-sizing:border-box;
			clear:both;
			white-space:nowrap;

			&[data-broccoli-sub-mod-name]{
				// loopフィールド の appender
				padding:5px 15px;
				background-color:#dfe;
				border-color:#6dcd9d;
				font-family: "YuGothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
				font-size:9px;
				text-align:center;
				box-sizing:border-box;
				clear:both;
				white-space:nowrap;

			}
		}

		.broccoli--instance-tree-view-fieldname{
			display: block;
			border-left: 0.3em solid #d9d9d9;
			padding-left: 0.5em;
			margin: 3px 0;
			font-size: 11px;
		}

		.broccoli--instance-tree-view-fieldpreview{
			display: block;
			height: auto;
			padding: 2px 5px;
			overflow: hidden;
			max-height: 100px;
			line-height: 1;

			*{
				margin: 0;
				padding: 0;
				font-size: 9px;
				line-height: 1;
				list-style-type: none;
				font-weight: normal;
				display: inline;
				color: #999;
				border: 0 none;
				background: transparent none;
			}
		}

	}
}

// Panels
.broccoli--panel{
	border-width:3px !important;
	border-style:solid;
	border-color:transparent;
	text-align: center;
	background-color: transparent;
	z-index: 0;
	cursor: move;

	user-select: auto; // CSS3
	-moz-user-select: auto; // Firefox
	-webkit-user-select: auto; // Safari、Chromeなど
	-ms-user-select: auto; // IE10かららしい
	pointer-events: auto;
	> *{
		user-select: none; // CSS3
		-moz-user-select: none; // Firefox
		-webkit-user-select: none; // Safari、Chromeなど
		-ms-user-select: none; // IE10かららしい
		pointer-events: none;
	}

	&-module-name{
		display:none;
	}

	&:hover{
		border-style: dotted !important;
		border-color: #6cf;
		background-color: rgba(231,244,255, 0.5);

		.broccoli--panel-module-name{
			display:block;
			position: absolute;
			left: -5px; top: -5px;
			border: 1px solid #000;
			background: #fff;
			color: #000;
			padding: 2px 10px;
			font-size: 8px;
			font-weight: normal;
		}

		&[data-broccoli-sub-mod-name]{
			border-color: #3c3;
			background-color: rgba(232,255,231, 0.5);
		}
	}
}
.broccoli--instance-tree-view-panel-item{
	user-select: auto; // CSS3
	-moz-user-select: auto; // Firefox
	-webkit-user-select: auto; // Safari、Chromeなど
	-ms-user-select: auto; // IE10かららしい
	pointer-events: auto;
	> *{
		user-select: none; // CSS3
		-moz-user-select: none; // Firefox
		-webkit-user-select: none; // Safari、Chromeなど
		-ms-user-select: none; // IE10かららしい
		pointer-events: none;
	}
}
.broccoli--panel-drop-to-insert-here{
	display:none;
	border:none;
	background-color:#f93;
	position: absolute;
	left:5%; top:-8px;
	width:90%;
	margin:0 auto;
	height:1px;

	&:before,
	&:after{
		content:' ';
		width:0;
		height:0;
		display: inline-block;
		border-width:7px 0 7px 13px;
		border-style:solid;
		border-color:#f93;
		border-top-color:transparent;
		border-bottom-color:transparent;
		position:absolute;
		left:-5%; top:-7px;
	}
	&:after{
		border-left-width:0;
		border-right-width:13px;
		right:-5%;
		left:auto;
	}
}
.broccoli--panel__selected{
	border-color: #f33 !important;
	border-style: solid;
	background-color: rgba(255,238,238, 0.2);
	opacity: 1 !important;
}
.broccoli--panel__focused{
	border: 1px dotted #ffcc33;
	background-color: rgba(255,255,204, 0.4);
	opacity: 1 !important;
}
.broccoli--panel__drag-entered{
	border-style: dashed !important;
	border-color: #6cf !important;
	background-color: rgba(231,244,255, 0.5) !important;

	&[data-broccoli-sub-mod-name]{
		border-color: #3c3 !important;
		background-color: rgba(232,255,231, 0.5) !important;
	}
	>.broccoli--panel-drop-to-insert-here{
		display:block !important;
	}
}


// edit window
.broccoli--edit-window{
	&-fields{
		margin: 0.5em 0 3em 0;
	}
	h3{
		padding: 0.5em 0;
		background-color: #fff;
	}
}
.broccoli--edit-window-builtin-fields{
	border: 1px solid #99e;
	padding: 1em;
	margin: 1em 5%;
	background: #eef;
}

.broccoli--edit-window-module-fields{
	padding: 10px;
	overflow: auto;
	max-height: 200px;
	border: 1px solid #bbb;
	border-radius: 5px;
	background: #fafafa;

	ul{
		padding: 0;
		li{
			position: relative;
			border-bottom: 1px solid #bbb;
			list-style-type: none;
			margin: 0;
			padding: 10px;
			&:hover{
				background: #eee;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}

	[data-broccoli-is-appender]{
		// moduleフィールド の appender
		@include broccoli--appender();
		font-size: 11px;
		box-sizing:border-box;
		clear:both;
		white-space:nowrap;

		&[data-broccoli-sub-mod-name]{
			// loopフィールド の appender
			padding:5px 15px;
			background-color:#dfe;
			border-color:#6dcd9d;
			font-family: "YuGothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
			font-size:9px;
			text-align:center;
			box-sizing:border-box;
			clear:both;
			white-space:nowrap;

		}
	}

}

// lightbox
.broccoli--lightbox{
	position: fixed;
	top: 0; left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 10000;
	&-inner{
		width: 90%;
		background-color:#fff;
		padding: 20px;
		margin: 100px auto;
	}
}

// progress
.broccoli--progress{
	position: fixed;
	top: 0; left: 0;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.05);
	width: 100%;
	height: 100%;
	z-index: 11000;
	&-inner{
		position: absolute;
		left: 0; top: 50%;
		width: 100%;
		height: 180px;
	}
	&-inner2{
		position: absolute;
		left: 0; top: -50%;
		width: 100%;
		height: 180px;
	}
}


// status view
.broccoli--module-info-preview{
	position: fixed;
	// top: 10%; left: 36%;
	// bottom: 10%;
	width: 280px;
	height: 320px;
	z-index: 10000;
	overflow: hidden;
	background-color: rgba(100%, 100%, 100%, 0.9);
	padding: 20px;
	border: 5px solid #999;
	font-size:11px;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;

	.broccoli--module-info-content{
		font-size: 11px;
		*{
			font-size: inherit;
		}
		h1{ font-size:14px; font-weight: bold; }
		h2{ font-size:12px; font-weight: bold; }
		h3,h4,h5,h6{ font-size:11px; font-weight: bold; }
		h1:first-of-type{ margin:0; }
	}
}
.broccoli--module-info-content{

	&-thumb{
		width:200px;
		max-width:20%;
		float:right;
		margin: 0 0 15px 15px;
		img{
			width:100%;
		}
	}
	&-pics{
		clear: both;
		text-align: center;
		border-top: 1px solid #bbb;
		padding: 2em 0;
		margin: 10px 0;
		ul{
			margin: 1em 0;
			padding: 0;
			li{
				list-style-type: none;
				margin: 1em 0;
				padding: 0;
				img{
					width:auto;
					max-width:100%;
					border:2px solid #999;
					box-sizing: border-box;
				}

			}
		}
	}
}

// Module Palette
.broccoli--module-palette{
	overflow: auto;

	div.broccoli--module-palette-inner{
		overflow: hidden;
	}
	div.broccoli--module-palette-filter{
		overflow: hidden;
		padding: 3px 1px;
		input{
			font-size: 11px;
			border: 1px #999 solid;
		}
	}
	ul.broccoli--module-palette-list{
		margin: 0;
		padding: 0;
		font-size: small;
		overflow: auto;

		li{ // <- package
			list-style-type: none;
			padding: 0;

			a.broccoli--module-palette--buttongroups{
				display: block;
				color: #eee;
				border-top: 1px solid #666;
				background-color: #333;
				padding: 0.3em 1em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
				font-size: 12px;
				&:active,
				&:focus,
				&:hover{
					color: #fff;
				}
			}
			ul{
				margin: 0;
				padding: 0;
				font-size: small;
				li{ // <- category
					a.broccoli--module-palette--buttongroups{
						color: #000;
						border-top: 1px solid #999;
						background-color: #666;
						color: #eee;
						padding:0.3em 2em;
						font-weight: normal;
						font-size: 11px;
						&:active,
						&:focus,
						&:hover{
							color: #fff;
						}
					}
					ul{
						margin: 0;
						padding: 0;
						font-size: small;
						li{ // <- modoule
							padding: 0;
						}
					}
				}
			}
		}
	}
	a.broccoli--module-palette--draggablebutton{
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 42px;
		border: 1px solid #999;
		text-align:left;
		padding: 4px;
		margin: 0;
		background-color: #eee;
		background: linear-gradient(to bottom, #eee, #ccc);
		color: #333;
		font-size: 11px;
		line-height: 1;
		vertical-align: middle;
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
		text-overflow: ellipsis;
		overflow: hidden;
		cursor: move;

		// クリップモジュールの場合の表示差異
		font-weight: bold;

		&:after{
			content: "@";
			margin-left: 0.5em;
			color: #669;
		}
		&[data-clip="false"]{
			font-weight: normal;
			&:after{
				content: "";
				margin-left: 0;
			}
		}

		&:hover{
			background-color: #ddd;
			background: linear-gradient(to bottom, #f9f9f9, #ddd);
			text-decoration: none;
			color: #000;
		}

	}
	span.broccoli--module-palette--draggablebutton-thumb{
		text-overflow: ellipsis;
		overflow: hidden;
		background-color: #ccc;
		padding: 0;
		width: 35px;
		min-width: 35px;
		height: 35px;
		min-height: 35px;
		img{
			width:100%;
			height:100%;
		}
	}
	span.broccoli--module-palette--draggablebutton-label{
		text-overflow: ellipsis;
		overflow: hidden;
		padding-left: 8px;
	}

	button.broccoli--module-palette__shown-module{}
}
