@charset "utf-8";

.broccoli {
	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	cursor: default;

	[draggable=true]{
		cursor: grab;
	}
	[draggable=true]:active{
		cursor: grabbing;
	}
	[draggable=false]{
		cursor: auto;
	}
	a[draggable=false]{
		cursor: pointer;
	}
	[tabindex]{
		outline: none;
	}

	// Fields
	@import '../../fields/client/app.fields.color';

	// px2style
	@import '../../node_modules/px2style/px2style/px2style';

}

// mixin: appender
@mixin broccoli--appender(){
	padding: 9px;
	color: #3871E0;
	border-color: rgba(56, 113, 224, 0.5);
	background-color: #F5FAFF;
	font-size: 11px;
	text-align: center;
	box-sizing: border-box;
	clear: both;
	white-space: nowrap;
	outline: none;
}

.broccoli {
	line-height: 1.7;
	pre {
		overflow: auto;
		border: 1px solid #999;
		border-radius: 5px;
		padding: 13px 15px;
		background-color: #f9f9f9;
		color: #333;
		line-height: 1.4;
		> code {
			display: block;
		}
	}

	* {
		box-sizing: border-box;
	}

	// CodeMirror 拡張
	.CodeMirror {
		border: 1px solid #ddd;
		border-radius: 5px;
	}
}

// Canvas
.broccoli--canvas{
	display: block;
	position: relative;
	top: 0; left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	iframe{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 100%;
		border: 0px none;
	}

	.broccoli__panels{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 0;
		border: none;
	}

}

// Instance Path View
.broccoli--instance-path-view{
	font-size: 11px;

	&-inner{
		width: 100%;
		padding: 3px 10px;
		border-top: 1px solid #000;
		background: #f7f7f7;
		box-sizing: border-box;

		>ul{
			display: block;
			padding: 0;
			margin: 0;

			>li{
				margin: 0; padding: 0;
				list-style-type: none;
				display: inline;
				position: relative;

				&:before{
					content: ' > ';
				}

				ul.broccoli--instance-path-view-children{
					display: none;
					background: #fff;
					border: 1px solid #000;
					padding: 0;
					z-index: 1000;

					li{
						display: block;
						list-style-type: none;
						margin: 0;

						a{
							display:block;
							font-size:120%;
							white-space: nowrap;
							padding: 3px 10px;

							&:hover{
								background-color: #f2f2f2;
							}
						}
					}
				}

				&:last-child:hover ul.broccoli--instance-path-view-children{
					display: inline-block;
					position: absolute;
					left: 100%;
					bottom: 0;
				}

			}
		}
	}

}

// Instance Tree View
.broccoli--instance-tree-view{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	ul{
		margin:0; padding:0 0 0 5px;
		display: table;
		width: 100%;
	}
	li{
		list-style:none;
		display: table;
		width: 100%;
		font-size: small;
	}

	&-fields{
		border:1px dotted #ddd;
		background-color: #f5f5f5;
	}
	&-bowlname{
		font-weight: bold;
		margin: 1em 0 0.5em 0;
		display: block;
	}
	&-modulename{
		font-weight: bold;
	}
	&-fieldname{
		font-weight: normal;
		font-size: 85%;
	}

	[data-broccoli-instance-path]{
		display: table;
		width: 100%;
		border:2px solid #666;
		border-bottom-width: 0px;
		background-color: #f9f9f9;
		padding: 1px 1px 1px 5px;
		margin: 0;
		position: relative;
		left:0; top:0;

		&:nth-child(2){
			border-radius: 5px 5px 0 0;
			border-bottom-width: 0px;
		}
		&:last-child{
			border-bottom-width: 2px;
			border-radius: 0 0 5px 5px;
		}
		&:first-child:last-child{
			border-radius: 5px;
			border-width: 2px;
		}

		&[data-broccoli-is-appender]{
			// moduleフィールド の appender
			@include broccoli--appender();
			font-size: 11px;
			box-sizing: border-box;
			clear: both;
			white-space: nowrap;

			&[data-broccoli-sub-mod-name]{
				// loopフィールド の appender
				padding: 5px 15px;
				background-color: #F4FFFC;
				color: #189AA3;
				border-color: rgba(24, 154, 163, 0.5);
				font-size: 9px;
				text-align: center;
				box-sizing: border-box;
				clear: both;
				white-space: nowrap;
			}
		}

		&.broccoli__panel__hovered{
			border-style: dotted;
			border-color: #3871E0;
			&[data-broccoli-sub-mod-name]{
				border-color: #189AA3;
			}
			>.broccoli--instance-tree-view-fields{
				// border:1px dotted #eee;
				background-color: #f9f9f9;
			}
		}
		&.broccoli__panel--selected {
			border-style: solid;
			border-color: #3871E0;
			background-color: rgba(56, 113, 224, 0.05);
			>.broccoli--instance-tree-view-modulename {
				color: #3871E0;
			}
			&[data-broccoli-sub-mod-name]{
				border-color: #189AA3;
				background-color: rgba(24, 154, 163, 0.05);
				>.broccoli--instance-tree-view-modulename {
					color: #189AA3;
				}
			}
		}

		.broccoli--instance-tree-view-fieldname{
			display: block;
			border-left: 0.3em solid #d9d9d9;
			padding-left: 0.5em;
			margin: 3px 0;
			font-size: 11px;
		}

		.broccoli--instance-tree-view-fieldpreview{
			display: block;
			height: auto;
			padding: 2px 5px;
			overflow: hidden;
			max-height: 100px;
			line-height: 1;

			*{
				margin: 0;
				padding: 0;
				font-size: 9px;
				line-height: 1;
				list-style-type: none;
				font-weight: normal;
				display: inline;
				color: #999;
				border: 0 none;
				background: transparent none;
			}
		}

	}
}

// Panels
.broccoli__panel{
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	text-align: center;
	background-color: transparent;
	z-index: 0;
	box-sizing: border-box;
	cursor: grab;
	&:active {
		cursor: grabbing;
	}

	pointer-events: auto;
	> *{
		pointer-events: none;
	}

	&-module-name{
		display:none;
	}

	&.broccoli__panel--focused {
		border-color: #ffcc33;
		background-color: rgba(255,255,204, 0.4);
	}

	&:hover{
		border-style: dotted;
		border-color: #3871E0;
		background-color: rgba(56, 113, 224, 0);

		.broccoli__panel-module-name{
			display: block;
			position: sticky;
			left: 0px; top: 0px;
			text-align: left;
			>div {
				display: inline-block;
				position: relative;
				left: -2px; top: -2px;
				border: 1px solid #3871E0;
				background: #3871E0;
				color: #fff;
				padding: 2px 10px;
				font-size: 10px;
				font-weight: normal;
				box-sizing: border-box;
				max-width: calc(100% - 4px);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		&[data-broccoli-sub-mod-name]{
			border-color: #189AA3;
			background-color: rgba(24,154,163, 0);
			.broccoli__panel-module-name{
				>div {
					border: 1px solid #189AA3;
					background: #189AA3;
				}
			}
		}
	}

	&.broccoli__panel--selected {
		border-style: solid;
		border-color: #3871E0 !important;
		background-color: rgba(56, 113, 224, 0.05);
		&[data-broccoli-sub-mod-name]{
			border-color: #189AA3 !important;
			background-color: rgba(24, 154, 163, 0.05);
		}
	}
	&.broccoli__panel--drag-entered {
		border-style: dashed;
		border-color: #3871E0;
		background-color: rgba(56, 113, 224, 0.1);

		&[data-broccoli-sub-mod-name]{
			border-color: #189AA3;
			background-color: rgba(24, 154, 163, 0.1);
		}
		>.broccoli__panel-drop-to-insert-here{
			display: block;
		}
	}
	&.broccoli__panel--drag-entered-u{
		background: linear-gradient(rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
		&[data-broccoli-sub-mod-name]{
			background: linear-gradient(rgba(24, 154, 163, 0.2), rgba(24, 154, 163, 0.0)) !important;
		}
		>.broccoli__panel-drop-to-insert-here{
			top: -8px; bottom: auto;
		}
	}
	&.broccoli__panel--drag-entered-d{
		background: linear-gradient(rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2)) !important;
		&[data-broccoli-sub-mod-name]{
			background: linear-gradient(rgba(24, 154, 163, 0.0), rgba(24, 154, 163, 0.2)) !important;
		}
		>.broccoli__panel-drop-to-insert-here{
			top: auto; bottom:-8px;
		}
	}
}
.broccoli--instance-tree-view-panel-item{
	pointer-events: auto;
	> *{
		pointer-events: none;
	}
}
.broccoli__panel-drop-to-insert-here{
	display:none;
	border:none;
	background-color:#f93;
	position: absolute;
	left:5%; top:-8px;
	width:90%;
	margin:0 auto;
	height:1px;
	z-index: 100000000;
	animation: broccoli__panel-drop-to-insert-here 0.5s infinite;
	@keyframes broccoli__panel-drop-to-insert-here{
		0%{
			opacity: 1;
		}
		50%{
			opacity: 0.6;
		}
	}

	&:before,
	&:after{
		content:' ';
		width:0;
		height:0;
		display: inline-block;
		border-width:7px 0 7px 13px;
		border-style:solid;
		border-color:#f93;
		border-top-color:transparent;
		border-bottom-color:transparent;
		position:absolute;
		left:-5%; top:-7px;
	}
	&:after{
		border-left-width:0;
		border-right-width:13px;
		right:-5%;
		left:auto;
	}
}


// edit window
.broccoli__edit-window {

	h2{
		font-weight: bold;
		text-align: center;
		margin: 1em;
	}

	&-fields{
		margin: 0.5em 0 3em 0;
	}
	&-field{
		margin: 1em 0 2em 0;
		border: 1px solid #e3e3e3;
		background-color: #fefefe;
		box-shadow: 0 3px 12px 6px rgba(0, 0, 0, 0.02);
		border-radius: 5px;
		position: relative;
		overflow: hidden;
	}
	h3{
		padding: 0.8em 18px 5px 18px;
		margin: 0;
		border-bottom: 1px solid #e3e3e3;
		background-color: #fefefe;
		font-weight: bold;
		position: relative;
		small {
			display: block;
			font-size: 11px;
			line-height: 1.3;
			margin: 0 2px;
		}
	}
	.has-error h3{
		color: #a94442;
	}
	&-field-required{
		h3::before {
			content: "*";
			color: #f33;
			margin-right: 0.5em;
			font-size: 80%;
		}
	}
	&-field-description{
		margin: 0.5em 18px;
	}
	&-field-content{
		margin: 1em 18px;
	}
	&-message-field{
		display: none;
		margin: 10px;
	}
	&-module-readme{
		&-inner{
			border: 1px solid #ddd;
			border-radius: 3px;
			background-color: #f9f9f9;
			padding: 20px;
			max-height: 400px;
			overflow: auto;
			margin: 0.5em 1em 2em;
		}
	}
	&-builtin-fields-switch,
	&-module-readme-switch{
		a::before {
			content: "";
			display: inline-block;
			width: 0.4em;
			height: 0.4em;
			margin-right: 0.7em;
			border-top: 3px solid #666;
			border-right: 3px solid #666;
			transform: rotate(45deg);
			transition: transform 0.08s linear;
		}
		a.broccoli__edit-window-builtin-fields-switch__on::before,
		a.broccoli__edit-window-module-readme-switch__on::before {
			transform: rotate(135deg);
		}
	}
	&-module-readme-switch{
		text-align: right;
	}
	&-builtin-fields{
		border: 1px solid #ddd;
		padding: 0.7em 1em;
		margin: 1em 0;
		background: #f9f9f9;
		&__row {
			display: block;
		}
		&__title {
			font-weight: bold;
			margin: 0.5em 0 0.2em;
		}
		&__input {
			display: flex;
			margin-bottom: 0.3em;
			> input,
			> textarea,
			> select {
				flex-grow: 10;
			}
			> span {
				padding: 0.375rem 0.75rem;
			}
		}
	}
	&-module-fields{
		padding: 10px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
		height: 320px;
		border: 1px solid #bbb;
		border-radius: 5px;
		background: #fafafa;
		display: flex;

		&__instances{
			width: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			overflow-scrolling: touch;
			.broccoli__edit-window-module-fields--fieldtype-module &{
				padding-right: 5px;
				margin-right: 5px;
				width: 70%;
			}

			ul{
				padding: 0;
				li{
					border-bottom: 1px solid #bbb;
					list-style-type: none;
					margin: 0;
					padding: 0;

					a{
						display: block;
						position: relative;
						outline: none !important;
						padding: 0.5em 1em;
						margin: 0;

						&:hover{
							background: #eee;
						}
						&:last-child{
							border-bottom: none;
						}
					}
				}
			}

			[data-broccoli-is-appender]{
				// moduleフィールド の appender
				@include broccoli--appender();
				font-size: 11px;
				box-sizing: border-box;
				clear: both;
				white-space: nowrap;

				&[data-broccoli-sub-mod-name]{
					// loopフィールド の appender
					padding: 5px 15px;
					background-color: #F4FFFC;
					color: #189AA3;
					border-color: rgba(24, 154, 163, 0.5);
					font-size: 9px;
					text-align: center;
					box-sizing: border-box;
					clear: both;
					white-space: nowrap;

				}
			}
		}

		&__palette{
			display: none;

			.broccoli__edit-window-module-fields--fieldtype-module &{
				width: 30%;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				overflow-scrolling: touch;
				display: block;
			}
		}

	}
	&-logical-path{
		font-size: 74%;
		ul{
			margin: 0; padding: 0;
			li{
				margin: 0; padding: 0;
				list-style-type: none;
				display: inline;
				&::before{
					content: ">";
					margin: 0 0.5em;
				}
			}
		}
	}

	&-form-buttons{
		margin-top: 1em;
		padding-bottom: 0.5em;
		&-fluid {
			display: flex;
			align-items: stretch;
			gap: 10px;
			text-align: center;
			padding: 10px 0;
			margin: 10px 0;
			@media all and (max-width:600px){
				display: block;
			}
		}
		&-ok {
			text-align: center;
			flex-grow: 1;
			padding: 0;
			button {
				max-width: 100%;
				width: 60%;
				@media all and (max-width:600px){
					width: 100%;
				}
			}
		}
		&-cancel {
			text-align: left;
			flex-grow: 1;
			padding: 0;
			width: 50%;
			@media all and (max-width:600px){
				text-align: center;
				width: 100%;
			}
			button {
				max-width: 360px;
				width: 80%;
				@media all and (max-width:600px){
					width: 100%;
				}
			}
		}
		&-delete {
			text-align: right;
			flex-grow: 1;
			padding: 0;
			width: 50%;
			@media all and (max-width:600px){
				text-align: center;
				width: 100%;
			}
			button {
				max-width: 360px;
				width: 80%;
				@media all and (max-width:600px){
					width: 100%;
				}
			}
		}
	}

	&-field-preview {
		font-size: 64%;
		line-height: 1.1;
		*{
			color: #666;
			text-decoration: none;
			max-width: 100%;
			max-height: 1.2em;
			display: inline;
		}
	}

	&-field-error-message{
		display: none;
	}

	&-sticky-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #9a9a9aab;
		width: calc(100% - 18px - 18px);
		box-sizing: border-box;
		margin: 0 18px 18px;
		border: 1px solid #e3e3e3;
		overflow: hidden;
		border-radius: 5px;
		display: flex;
		text-align: center;
		box-shadow: 0 3px 12px 6px rgba(0, 0, 0, 0.05);
		transition: opacity 0.3s;
		opacity: 0;
		z-index: 1000;
		pointer-events: none;
		&-main {
			padding: 10px;
			flex-grow: 10;
		}
	}

	&-btn-close {
		position: absolute;
		top: -25px;
		right: 0px;
		width: 1.4em; height: 1.4em;
		button {
			position: absolute;
			left: 0;
			right: 0;
			display: block;
			width: 100%; height: 100%;
			padding: 0;
			margin: 0;
			border-radius: 50%;
			border: 1px solid #999;
			background-color: #eee;
			color: #999;
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				border-bottom: 1px solid #999;
				width: 70%;
				position: absolute;
				top: 50%;
				left: 15%;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
			&:hover {
				border: 1px solid #666;
				background-color: #f9f9f9;
				&::before,
				&::after {
					border-bottom: 1px solid #666;
				}
			}
		}
	}
}

// find window
.broccoli__find-window{
	display: flex;
	flex-direction: column;
	h2{
		font-weight: bold;
		text-align: center;
		margin: 1em;
	}

	&-field-error-message{
		display: none;
	}

	&-result{
		overflow: auto;
		height: calc(100vh - 226px);
		max-height: 400px;
		a{
			display: block;
			padding: 1em;
			margin: 1px 0;
			border-top: 1px solid #ddd;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}
	}
}


// lightbox
.broccoli__lightbox{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.2);

	&-inner{
		position: relative;
		width: 580px;
		max-width: calc(100% - 40px);
		min-width: 480px;
		height: auto;
		max-height: calc(100% - 60px);
		box-sizing: border-box;

		border-radius: 10px;
		box-shadow: 0 10px 40px 20px rgba(0,0,0,0.3);
		margin: 40px auto 20px auto;
		background-color: var(--px2-background-color);
	}
	&-inner-body{
		overflow: auto;
		padding: 1em;
		height: 100%;
		max-height: calc(100%);
		box-sizing: border-box;
		&::after{
			display: block;
			clear: both;
			content: ' ';
			height: 10px;
			overflow: hidden;
		}
	}
	&-inner--edit-window-mode {
		width: 100%;
		height: 100%;
		margin: 40px 20px 20px 20px;
	}

	@media all and (max-width: 600px) {
		&-inner{
			width: 100%;
			min-width: 0;
		}

	}
}

// progress
.broccoli__progress{
	position: fixed;
	top: 0; left: 0;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.05);
	width: 100%;
	height: 100%;
	z-index: 1010000;
	text-align: center;
	&-inner{
		position: absolute;
		left: 0; top: 50%;
		width: 100%;
		height: 180px;
	}
	&-inner2{
		position: absolute;
		left: 0; top: -50%;
		width: 100%;
		height: 180px;
	}
	&-comment{
		color: #999;
		background-color: #eee;
		padding: 0.5em 1em;
		margin: 0 auto;
		display: inline-block;
		font-size: 70%;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}


// status view
.broccoli--module-info-preview{
	position: fixed;
	// top: 10%; left: 36%;
	// bottom: 10%;
	width: 280px;
	height: 320px;
	z-index: 10000;
	overflow: hidden;
	background-color: rgba(100%, 100%, 100%, 0.9);
	padding: 20px;
	border: 5px solid #999;
	font-size:11px;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-word;


	.broccoli--module-info-content{
		font-size: 11px;
		*{
			font-size: inherit;
		}
		h1{
			font-size:14px;
			font-weight: bold;
		}
		h2{
			font-size:12px;
			font-weight: bold;
		}
		h3,
		h4,
		h5,
		h6{
			font-size:11px;
			font-weight: bold;
		}
		h1:first-of-type{
			margin:0;
		}
	}
}
.broccoli--module-info-content{

	word-wrap: break-word;
	word-break: break-word;

	&-id {
		margin-top: 4em;
		color: #999;
		font-size: 10px;
		border-top: 1px dotted #aaa;
	}
	&-thumb {
		width:200px;
		max-width:20%;
		float:right;
		margin: 0 0 15px 15px;
		background-color: #f9f7f5;
		img{
			width:100%;
		}
	}
	&-pics {
		clear: both;
		text-align: center;
		border-top: 1px solid #bbb;
		padding: 2em 0;
		margin: 10px 0;
		ul {
			margin: 1em 0;
			padding: 0;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			li {
				list-style-type: none;
				margin: 1em;
				padding: 0;
				img {
					width:auto;
					max-width:100%;
					border:2px solid #999;
					box-sizing: border-box;
				}

			}
		}
	}
}

// Module Palette
.broccoli__module-palette {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	div.broccoli__module-palette-inner {
		box-sizing: border-box;
		overflow: hidden;
		background-color: #e5e5e5;
		padding-left: 1px;
		// padding-bottom: 1px;
	}
	div.broccoli__module-palette-filter {
		display: flex;
		box-sizing: border-box;
		overflow: hidden;
		height: 50px;
		padding: 10px;
		input[type=search]{
			font-size: 12px;
			border: none;
		}
	}
	ul.broccoli__module-palette-list {
		margin: 0;
		padding: 0;
		font-size: small;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;

		li { // <- package
			list-style-type: none;
			padding: 0;

			a.broccoli__module-palette__buttongroups {
				box-sizing: border-box;
				display: block;
				color: #000;
				background-color: #f9f7f5;
				padding: 0.3em 1em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
				font-size: 12px;
				text-decoration: none;
				&:active,
				&:focus,
				&:hover{
					color: #333;
				}
			}
			a.broccoli__module-palette__buttongroups::before {
				content: "";
				display: inline-block;
				// NOTE: url-loader も asset/inline も、base64 を正しく変換できなかったため、暫定的にbase64に手動変換した。
				// background-image: url("./resources/chevron-down-x2.png");
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACNSURBVHgB7ZRRCYAwFEVvBCO8CItgBCPYwCo2MYo2MIIR9IkTRP1525wi98AFv3YOwgYQQgj5MJWu0xWIQ/w5DkbWgFnXR0SIbtRN/ttMfYgQ2BAvHxEoP0ZMxoMklXzHGSJcarklwhKaPOJx+Y7g+ovLXPK7iAbbTckmP0es8gHxD1ZwRPuWnBBC/sECNYYnnM4JpPcAAAAASUVORK5CYII=");
				background-size: cover;
				width: 16px;
				height: 16px;
				margin-right: 0.7em;
				vertical-align: middle;
				transform: rotate(0deg);
				transition: transform 0.08s linear;
			}
			a.broccoli__module-palette__buttongroups--closed::before {
				transform: rotate(-90deg);
			}

			ul{
				margin: 0;
				padding: 0;
				font-size: small;
				li{ // <- category
					a.broccoli__module-palette__buttongroups{
						box-sizing: border-box;
						color: #000;
						background-color: #f9f9f9;
						color: #666;
						font-weight: normal;
						font-size: 12px;
						text-decoration: none;
						&:active,
						&:focus,
						&:hover{
							color: #000;
						}
					}
					ul{
						margin: 0;
						padding: 0;
						li{ // <- modoule
							padding: 0;
							border-bottom: 1px solid #e5e5e5;
						}
					}
				}
			}
		}
	}
	a.broccoli__module-palette__draggablebutton{
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		text-align:left;
		padding: 4px;
		margin: 0;
		background-color: #fff;
		color: #000;
		font-size: 14px;
		line-height: 1;
		vertical-align: middle;
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
		text-overflow: ellipsis;
		overflow: hidden;
		user-select: none;
		cursor: grab;
		&:active{
			cursor: grabbing;
		}
		&:hover{
			background-color: #f5faff;
			text-decoration: none;
			color: #000;
		}

	}
	span.broccoli__module-palette__draggablebutton-thumb{
		text-overflow: ellipsis;
		overflow: hidden;
		background-color: transparent;
		padding: 0;
		width: 35px;
		min-width: 35px;
		height: 35px;
		min-height: 35px;
		img{
			width:100%;
			height:100%;
		}
	}
	span.broccoli__module-palette__draggablebutton-label{
		text-overflow: ellipsis;
		overflow: hidden;
		padding-left: 8px;
	}


	a.broccoli__module-palette__draggablebutton-children{
		padding-left: 24px;

		span.broccoli__module-palette__draggablebutton-thumb{
			width: 27px;
			min-width: 27px;
			height: 27px;
			min-height: 27px;
		}
	}
}


.broccoli__module-readme{
	color: #333;
	text-align: left;
	img{
		max-width: 100%;
	}
	h1{
		font-size: small;
		font-weight: bold;
		color: #999;
		text-align: left;
		background: transparent;
	}
	h2{
		font-size: 146%;
		font-weight: bold;
		color: #000;
		border-bottom: 1px solid #333;
		padding: 0.3em 0.5em;
		margin: 2em 0 0.5em 0;
		text-align: left;
		background: transparent;
	}
	h3{
		font-size: 123%;
		font-weight: bold;
		color: #000;
		border: none;
		padding: 0;
		margin: 1em 0 0.5em 0;
		text-align: left;
		background: transparent;
	}
	h4{
		font-size: 110%;
		font-weight: bold;
		color: #000;
		border: none;
		padding: 0;
		margin: 1em 0 0.5em 0;
		text-align: left;
		background: transparent;
	}
	p, ul, ol, blockquote, pre{
		margin-top: 1em;
		margin-bottom: 1em;
	}
	li {
		p, ul, ol, blockquote, pre{
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
	}
}


.broccoli__inline-error-message{
	border: none;
	color: #a94442;
	ul{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		li{
			list-style-type: none;
		}
	}
}
.broccoli__error-message-box{
	border: 1px solid #ebccd1;
	color: #a94442;
	background-color: #f2dede;
	padding: 15px;
	border-radius: 4px;
	margin: 2em 2em;
	ul{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		li{
			list-style-type: none;
		}
	}
}


// Context Menu
.broccoli--contextmenu{
	z-index: 20000;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	max-width: 300px;
	min-height: 30px;
	background-color: #f9f9f9;
	border: 1px solid #999;

	font-size: 14px;

	ul{
		padding: 0; margin: 0;
		li{
			padding: 0; margin: 0;
			list-style-type: none;
			a, span{
				display: block;
				padding: 4px 18px;
			}
			a:hover{
				background-color: #f0f0f0;
			}
		}
	}
}

// Indicator
.broccoli__indicator {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 0.2em 2em;
	background-color: #eee;
	color: #999;
	font-size: 10px;
	opacity: 0.7;
	animation: broccoli__indicator 0.25s infinite;
	@keyframes broccoli__indicator{
		0%{
			opacity: 0.7;
		}
		50%{
			opacity: 0.5;
		}
	}
	&-completed {
		animation: none;
	}
}
body>.broccoli__indicator {
	z-index: 2000000;
}

// insert window
.broccoli__insert-window {
	h2{
		font-weight: bold;
		text-align: center;
		margin: 1em;
	}
	&-list {
		margin: 0;
		padding: 0;
		font-size: small;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;

		li{ // <- package
			list-style-type: none;
			padding: 0;

			a.broccoli__insert-window__buttongroups{
				display: block;
				color: #eee;
				border-top: 1px solid #666;
				background-color: #333;
				padding: 0.3em 1em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
				font-size: 12px;
				&:active,
				&:focus,
				&:hover{
					color: #fff;
				}
			}
			a.broccoli__insert-window__buttongroups::before {
				content: "";
				display: inline-block;
				border-top: 3px solid #fff;
				border-right: 3px solid #fff;
				width: 0.5em;
				height: 0.5em;
				margin-right: 0.7em;
				transform: rotate(135deg);
				transition: transform 0.08s linear;
			}
			a.broccoli__insert-window__buttongroups--closed::before {
				transform: rotate(45deg);
			}
			ul{
				margin: 0;
				padding: 0;
				font-size: small;
				li{ // <- category
					a.broccoli__insert-window__buttongroups{
						color: #000;
						border-top: 1px solid #999;
						background-color: #666;
						color: #eee;
						padding:0.3em 2em;
						font-weight: normal;
						font-size: 11px;
						&:active,
						&:focus,
						&:hover{
							color: #fff;
						}
					}
					ul{
						margin: 0;
						padding: 0;
						font-size: small;
						li{ // <- modoule
							padding: 0;
						}
					}
				}
			}
		}
	}
	a.broccoli__insert-window--module{
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 42px;
		border: 1px solid #999;
		text-align:left;
		padding: 4px;
		margin: 0;
		background-color: #eee;
		color: #333;
		font-size: 11px;
		line-height: 1;
		vertical-align: middle;
		overflow: hidden;
		white-space: nowrap;
		text-decoration: none;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover{
			background-color: #ddd;
			text-decoration: none;
			color: #000;
		}

		&-selected ,
		&-selected:hover {
			background-color: #00a0e6;
			color: #eee;
		}
	}
	span.broccoli__insert-window--module-thumb{
		text-overflow: ellipsis;
		overflow: hidden;
		background-color: #ccc;
		padding: 0;
		width: 35px;
		min-width: 35px;
		height: 35px;
		min-height: 35px;
		img{
			width:100%;
			height:100%;
		}
	}
	span.broccoli__insert-window--module-label{
		text-overflow: ellipsis;
		overflow: hidden;
		padding-left: 8px;
	}


	a.broccoli__insert-window--module-children{
		padding-left: 24px;

		span.broccoli__insert-window--module-thumb{
			width: 27px;
			min-width: 27px;
			height: 27px;
			min-height: 27px;
		}
	}

}
