@charset "utf-8";

// px2style
@import '../../node_modules/px2style/dist/px2style';

.broccoli {
	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	cursor: default;
	line-height: 1.7;

	pre {
		overflow: auto;
		border: 1px solid #999;
		border-radius: 5px;
		padding: 13px 15px;
		background-color: #f9f9f9;
		color: #333;
		line-height: 1.4;
		> code {
			display: block;
		}
	}

	[draggable=true]{
		cursor: grab;
	}
	[draggable=true]:active{
		cursor: grabbing;
	}
	[draggable=false]{
		cursor: auto;
	}
	a[draggable=false]{
		cursor: pointer;
	}
	[tabindex]{
		outline: none;
	}

	// Fields
	@import '../../fields/client/app.fields.color';


	// CodeMirror 拡張
	.CodeMirror {
		border: 1px solid #ddd;
		border-radius: 5px;
	}
}

// mixin: appender
@mixin broccoli--appender(){
	padding: 9px;
	color: #3871E0;
	border-color: rgba(56, 113, 224, 0.5);
	background-color: #F5FAFF;
	font-size: 11px;
	text-align: center;
	box-sizing: border-box;
	clear: both;
	white-space: nowrap;
	outline: none;
}


// Canvas
@import "./styles/canvas";


// Instance Path View
@import "./styles/instancePathView";


// Instance Tree View
@import "./styles/instanceTreeView";


// Panels
@import "./styles/panel";


// edit window
@import "./styles/editWindow";


// find window
@import "./styles/findWindow";


// lightbox
@import "./styles/lightbox";


// progress
@import "./styles/progress";


// Module Info, and Readme
@import "./styles/moduleInfo";


// Module Palette
@import "./styles/modulePalette";


// Context Menu
@import "./styles/contextMenu";


// Indicator
@import "./styles/indicator";


// insert window
@import "./styles/insertWindow";
