@charset "utf-8";
.broccoli{
	// border: 1px solid #000;
	@import "../../node_modules/bootstrap/dist/css/bootstrap";

	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	user-select: none; // CSS3
	-moz-user-select: none; // Firefox
	-webkit-user-select: none; // Safari、Chromeなど
	-ms-user-select: none; // IE10かららしい
	cursor: default;
}
// Canvas
.broccoli--canvas{
	display: block;
	position: relative;
	top: 0; left: 0;

	iframe{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 10000px;
		border: none;
	}

	.broccoli--panels{
		position: absolute;
		top: 0; left:0;
		width: 100%;
		height: 0;
		border: none;
	}

}

// Instance Path View
.broccoli--instance-path-view{
	// position: fixed;
	// bottom: 0; left:0;
	// z-index: 10;
	width: 100%;
	padding: 3px 10px;
	border-top: 1px solid #000;
	background: #f7f7f7;
	font-size: 11px;

	>ul{
		display: block;
		padding: 0;
		margin: 0;

		>li{
			margin: 0; padding: 0;
			list-style-type: none;
			display: inline;
			position: relative;

			&:before{
				content: ' > ';
			}

			ul.broccoli--instance-path-view-children{
				display: none;
				background: #fff;
				border: 1px solid #000;
				padding: 0;

				li{
					display: block;
					list-style-type: none;
					margin: 0;

					a{
						display:block;
						font-size:120%;
						white-space: nowrap;
						padding: 3px 10px;

						&:hover{
							background-color: #f2f2f2;
						}
					}
				}
			}

			&:last-child:hover ul.broccoli--instance-path-view-children{
				display: inline-block;
				position: absolute;
				left: 100%;
				bottom: 0;
			}

		}
	}
}

// Instance Tree View
.broccoli--instance-tree-view{
	ul{
		margin:0; padding:0 0 0 5px;
		display: table;
		width: 100%;
	}
	li{
		list-style:none;
		display: table;
		width: 100%;
	}
	&-fields{
		border:1px dotted #ddd;
	}
	[data-broccoli-instance-path]{
		display: table;
		width: 100%;
		border:2px solid #666;
		background-color:#fff;
		padding: 1px 1px 1px 5px;
		margin: 0;
		position: relative;
		left:0; top:0;
	}
}

// Panels
.broccoli--panel{
	border-width:3px !important;
	border-style:solid;
	border-color:transparent;
	text-align: center;
	background-color: transparent;
	z-index: 0;

	&-module-name{
		display:none;
	}

	&:hover{
		border-style: dotted !important;
		border-color: #6cf;
		background-color: rgba(231,244,255, 0.5);

		.broccoli--panel-module-name{
			display:block;
			position: absolute;
			left: -5px; top: -5px;
			border: 1px solid #000;
			background: #fff;
			color: #000;
			padding: 2px 10px;
			font-size: 8px;
			font-weight: normal;
		}

		&[data-broccoli-sub-mod-name]{
			border-color: #3c3;
			background-color: rgba(232,255,231, 0.5);
		}
	}
}
.broccoli--panel-drop-to-insert-here{
	display:none;
	border:none;
	background-color:#f93;
	position: absolute;
	left:5%; top:-8px;
	width:90%;
	margin:0 auto;
	height:1px;
	&:before,
	&:after{
		content:' ';
		width:0;
		height:0;
		display: inline-block;
		border-width:7px 0 7px 13px;
		border-style:solid;
		border-color:#f93;
		border-top-color:transparent;
		border-bottom-color:transparent;
		position:absolute;
		left:-5%; top:-7px;
	}
	&:after{
		border-left-width:0;
		border-right-width:13px;
		right:-5%;
		left:auto;
	}
}
.broccoli--panel__selected{
	border-color: #f33 !important;
	border-style: solid;
	background-color: rgba(255,238,238, 0.2);
	opacity: 1 !important;
}
.broccoli--panel__focused{
	border: 1px dotted #ffcc33;
	background-color: rgba(255,255,204, 0.4);
	opacity: 1 !important;
}
.broccoli--panel__drag-entered{
	border-style: dashed !important;
	border-color: #6cf !important;
	background-color: rgba(231,244,255, 0.5) !important;

	&[data-broccoli-sub-mod-name]{
		border-color: #3c3 !important;
		background-color: rgba(232,255,231, 0.5) !important;
	}
	>.broccoli--panel-drop-to-insert-here{
		display:block !important;
	}
}


// edit window
.broccoli--edit-window{
	&-fields{
		margin: 0.5em 0 1em 0;
	}
}
.broccoli--edit-window-builtin-fields{
	border: 1px solid #99e;
	padding: 1em;
	margin: 1em 5%;
	background: #eef;
}

// lightbox
.broccoli--lightbox{
	position: fixed;
	top: 0; left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 10000;
	&-inner{
		width: 90%;
		background-color:#fff;
		padding: 20px;
		margin: 100px auto;
	}
}

// Module Palette
.broccoli--module-palette{
	ul{
		margin: 0;
		padding: 0;
		font-size: small;
		li{
			list-style-type: none;
			padding:0 0 10px 0;
			a{
				display: block;
				color: #fff;
				background-color: #999;
				padding:0.3em 1em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: bold;
			}
			ul{
				li{
					a{
						color: #000;
						background-color: #f5f5f5;
						padding:0.3em 2em;
						font-weight: normal;
					}
					ul{
						li{
							padding: 0;
						}
					}
				}
			}
		}
	}
	button{
		box-sizing: border-box;
		display: block;
		width: 99%;
		height: 50px;
		border: 1px solid #999;
		text-align:left;
		padding: 0;
		margin: 0;
		background-color: #eee;
		font-size: small;
		line-height: 1;
		vertical-align: middle;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	a:before{
		content: "▼";
	}
	a.broccoli--module-palette__closed:before{
		content: "ー";
	}
}
