/**
 * module: testMod1:boxes/aside_box
 */
.aside_box {
  color: #f00; }


/**
 * module: testMod1:dev/float_loop
 */
.dev-float-loop:before, .dev-float-loop:after {
  display: table;
  content: " "; }

.dev-float-loop:after {
  clear: both; }

.dev-float-loop ul {
  padding: 0;
  margin: 0; }
  .dev-float-loop ul li {
    float: left;
    width: 24%;
    margin: 0 1% 10px 0;
    padding: 0;
    list-style-type: none; }
    .dev-float-loop ul li:nth-child(4n+1) {
      clear: both; }


/**
 * module: testMod1:dev/twig
 */
.twig_template {
  border: 1px solid #f93;
  padding: 1em; }
  .twig_template > :first-child {
    margin-top: 0; }
  .twig_template-include {
    border: 1px solid #ff9;
    background: #f8f8f8;
    padding: 1em;
    margin: 0.2em 0; }
  .twig_template-loop {
    border: 1px solid #f9f;
    background: #f8f8ff;
    padding: 1em;
    margin: 0.2em 0; }
  .twig_template-is_canvas {
    background: #f00;
    color: #fff9f9;
    padding: 0.5em;
    margin: 0.2em 0;
    text-align: center; }


/**
 * module: testMod1:parts/minimum_module
 */


/**
 * module: testMod1:units/cols2
 */
.cols {
  margin-left: -20px;
  overflow: hidden; }

.cols .cols-col {
  float: left;
  margin: 0 0 0 0; }

.cols .cols-col.cols-3of4 {
  width: 75%; }

.cols .cols-col.cols-1of2 {
  width: 50%; }

.cols .cols-col.cols-2of3 {
  width: 66.666%; }

.cols .cols-col.cols-1of3 {
  width: 33.333%; }

.cols .cols-col.cols-1of4 {
  width: 25%; }

.cols .cols-col.cols-1of5 {
  width: 20%; }

.cols .cols-col.cols-2of5 {
  width: 40%; }

.cols .cols-col.cols-3of5 {
  width: 60%; }

.cols .cols-col.cols-4of5 {
  width: 80%; }

.cols .cols-pad {
  margin-left: 20px; }

.cols .cols-last {
  float: right;
  *margin-right: -10px; }

@media all and (max-width: 520px) {
  .cols .cols-col.cols-3of4 {
    width: auto;
    float: none; } }

@media all and (max-width: 520px) {
  .cols .cols-col.cols-1of2 {
    width: auto;
    float: none; } }

@media all and (max-width: 520px) {
  .cols .cols-col.cols-2of3 {
    width: auto;
    float: none; } }

@media all and (max-width: 520px) {
  .cols .cols-col.cols-1of3 {
    width: auto;
    float: none; } }

@media all and (max-width: 520px) {
  .cols .cols-col.cols-1of4 {
    width: auto;
    float: none; } }


/**
 * module: testMod1:units/cols3
 */


/**
 * module: testMod2:boxes/aside_box
 */
.aside_box {
  color: #f00; }


/**
 * module: testMod2:dev/twig
 */
.twig_template {
  border: 1px solid #f93;
  padding: 1em; }
  .twig_template > :first-child {
    margin-top: 0; }
  .twig_template-include {
    border: 1px solid #ff9;
    background: #f8f8f8;
    padding: 1em;
    margin: 0.2em 0; }
  .twig_template-loop {
    border: 1px solid #f9f;
    background: #f8f8ff;
    padding: 1em;
    margin: 0.2em 0; }
  .twig_template-is_canvas {
    background: #f00;
    color: #fff9f9;
    padding: 0.5em;
    margin: 0.2em 0;
    text-align: center; }


/**
 * module: testMod2:parts/minimum_module
 */


/**
 * module: testMod2:units/cols3
 */


