.dev-float-loop{
	&:before,
	&:after{
		display: table;
		content: " ";
	}
	&:after{
		clear: both;
	}
	ul{
		padding: 0;
		margin: 0;

		li{
			float: left;
			width: 24%;
			margin: 0 1% 10px 0;
			padding: 0;
			list-style-type: none;

			&:nth-child(4n+1){
				clear: both;
			}
		}
	}
}
