<div>
    <p>custom1-2 field</p>
    <dl>
        <dt>custom1</dt>
        <dd>{{ custom1 }}</dd>
        <dt>custom2.val1</dt>
        <dd>{{ custom2.val1 }}</dd>
        <dt>custom2.val2</dt>
        <dd>{{ custom2.val2 }}</dd>
    </dl>
    <p>/custom1-2 field</p>
</div>
