.broccoli__panel {
	&.broccoli__panel--focused {
		border-color: #ffcc33;
		background-color: rgba(255,255,204, 0.4);
	}

	&:hover {
		border-color: #3871E0;
		background-color: rgba(56, 113, 224, 0);

		.broccoli__panel-module-name{
			>div {
				border: 1px solid #3871E0;
				background: #3871E0;
				color: #fff;
			}
		}

		&[data-broccoli-sub-mod-name]{
			border-color: #189AA3;
			background-color: rgba(24,154,163, 0);
			.broccoli__panel-module-name{
				>div {
					border: 1px solid #189AA3;
					background: #189AA3;
				}
			}
		}
	}

}

.broccoli__panel--selected,
.broccoli__panel--selected:hover {
	border-color: #3871E0 !important;
	background-color: rgba(56, 113, 224, 0.05);
	&[data-broccoli-sub-mod-name]{
		border-color: #189AA3 !important;
		background-color: rgba(24, 154, 163, 0.05);
	}
}
.broccoli__panel--drag-entered {
	border-style: dashed;
	border-color: #3871E0;
	background-color: rgba(56, 113, 224, 0.1);

	&[data-broccoli-sub-mod-name]{
		border-color: #189AA3;
		background-color: rgba(24, 154, 163, 0.1);
	}
}

.broccoli__panel--drag-entered-u{
	background: linear-gradient(rgba(56, 113, 224, 0.2), rgba(56, 113, 224, 0.0)) !important;
	&[data-broccoli-sub-mod-name]{
		background: linear-gradient(rgba(24, 154, 163, 0.2), rgba(24, 154, 163, 0.0)) !important;
	}
}
.broccoli__panel--drag-entered-d{
	background: linear-gradient(rgba(56, 113, 224, 0.0), rgba(56, 113, 224, 0.2)) !important;
	&[data-broccoli-sub-mod-name]{
		background: linear-gradient(rgba(24, 154, 163, 0.0), rgba(24, 154, 163, 0.2)) !important;
	}
}

.broccoli__panel-drop-to-insert-here{
	background-color: #f93;
	&:before,
	&:after{
		border-color:#f93;
	}
}
