.broccoli__progress{
	position: fixed;
	top: 0; left: 0;
	overflow: hidden;
	background-color: rgba(128, 128, 128, 0.05);
	width: 100%;
	height: 100%;
	z-index: 1010000;
	text-align: center;

	&-inner{
		position: absolute;
		left: 0; top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	&-loading-wrap{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		.px2-loading {
			position: relative;
		}
	}
	&-comment{
		color: #999;
		background-color: #eee;
		padding: 0.5em 1em;
		margin: 0 auto;
		display: inline-block;
		font-size: 70%;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
